main{
    min-height: 80vh;
}

.product-link {
    text-decoration: none;
    color: inherit;
}

.product-link:hover {
    text-decoration: underline;
}
h1 {
    font-size: 1.8rem;
    padding: 1rem 0;
}

h2 {
    font-size: 1.4rem;
    padding: 0.5rem 0;
}

h3 {
    padding: 1rem 0;
}

.rating span {
    margin: 0.1rem;
}

.list-group-item {
  border-bottom: 1px solid #aaa !important;   /* darker border */
}

.list-group-item:last-of-type {
  border-bottom: none !important;  
}

.email-link {
    text-decoration: none;
    color: #007bff;
}

.email-link:hover {
    text-decoration: underline;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h4 {
  color: #fff;
}

.carousel img {
  display:block;
  height: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
.carousel a {
  margin: 0 auto;
}
@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}