main{
    min-height: 80vh;
}

.product-link {
    text-decoration: none;
    color: inherit;
}

.product-link:hover {
    text-decoration: underline;
}
h1 {
    font-size: 1.8rem;
    padding: 1rem 0;
}

h2 {
    font-size: 1.4rem;
    padding: 0.5rem 0;
}

h3 {
    padding: 1rem 0;
}

.rating span {
    margin: 0.1rem;
}

.list-group-item {
  border-bottom: 1px solid #aaa !important;   /* darker border */
}

.list-group-item:last-of-type {
  border-bottom: none !important;  
}

.email-link {
    text-decoration: none;
    color: #007bff;
}

.email-link:hover {
    text-decoration: underline;
}